<div class="d-flex flex-row justify-content-between align-items-center">
  <h1>ToDo - Liste</h1>
  <button class="btn btn-primary" (click)="createNewList()">Neu <i class="bi bi-plus-circle ms-1"></i></button>
</div>

<div class="list-group mt-5">
  <div
    class="list-group-item list-group-item-action cursor-pointer d-flex align-items-center"
    aria-current="true"
    *ngFor="let item of lists | async; trackBy: identify">
    <div class="d-flex w-100 justify-content-between" [routerLink]="'/todo/detail/' + item.id">
      <div>
        <h5 class="mb-1">{{ item.title }}</h5>
        <p class="mb-1">{{ item.description }}</p>
      </div>
      <div class="d-flex flex-column align-items-center">
        <small>{{ item.createdAt | dateAgo }}</small>
      </div>
    </div>
    <div>
      <i class="bi bi-trash3 text-danger ms-3" (click)="deleteList(item.id)"></i>
    </div>
  </div>
</div>
