<div class="mb-2 d-flex align-items-center gap-2 cursor-pointer" routerLink="..">
  <i class="bi bi-chevron-left"></i> Back
</div>
<h1>ToDo - {{ list?.title }}</h1>

<ul class="list-group mt-5">
  <li class="list-group-item" *ngFor="let item of list?.items; let i = index; trackBy: identify">
    <div class="w-100 d-flex align-items-center">
      <div class="flex-row flex-grow-1 text-truncate">
        <input
          class="form-check-input me-2"
          type="checkbox"
          [(ngModel)]="item.checked"
          [checked]="item.checked"
          (ngModelChange)="updateItem(item)"
          value=""
          [id]="'todo-' + i" />
        <label
          class="form-check-label"
          [ngClass]="{ 'text-decoration-line-through': item.checked }"
          [for]="'todo-' + i"
          >{{ item.title }}</label
        >
      </div>
      <div>
        <button class="btn btn-danger" (click)="deleteTodo(item.id)"><i class="bi bi-trash3"></i></button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <input class="form-control" type="text" [formControl]="input" (keyup.enter)="addTodo()" />
  </li>
</ul>
